body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}



.nav-bg{
    background-color: #598392;
    color: rgb(246, 244, 191);
}

.nav-link{
    color: white;
}

h4{
    padding: 0;
    margin: 0;
}

.nav-link{
    font-size: 1.1 em;
}

.navbar-brand{
    font-size: 1.3em;
}

p{
    text-align: justify;
}





.logocontainer{
    overflow: hidden;
	background: white;
    white-space: nowrap;
    background-color: #598392;
    position: relative;
}


.logobanner1 {
	height: auto;
	width: 4200px;
    flex-wrap: nowrap;
    overflow: hidden;
    animation: bannermove1 30s linear infinite;

    
}

.logobanner1 >img{
    margin: 1vw 3vw;
    width: 12vw ;
    height: 12vw ;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}


/*keyframe animations*/
/* .first1 {  
    
}
  */
@keyframes bannermove1 {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-60%);
}
 
}

.logobanner2{
    height: auto;
    width:4150px; /* Adjust the width as needed */
    flex-wrap: nowrap;
    overflow: hidden;
    margin-right: 0;
    animation: bannermove2 30s linear infinite;
    transform: translateX(-4%);
}
 
.logobanner2 > img{
    margin: 1vw 3vw;
    width: 12vw;
    height: 12vw;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* .first2 {  
    animation: bannermove2 15s linear infinite;
} */
 
@keyframes bannermove2 {
    0% {
        transform: translateX(-65%);
    }
    100% {
        transform: translateX(-4%); /* Adjust the percentage based on your needs */
    }
    
   }

   
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the card */
    /* border: 3px solid rgb(155, 65, 40); */
    /* background-color: rgb(179, 145, 144); */
}

.card-img-top {
    width: 150px; /* Adjust the image size as needed */
    height: 150px; /* Adjust the image size as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the circular shape */
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .product-list ul {
    padding: 0;
    font-size: 1.2em;
  }

 .product-list li {
    text-align: left;
    margin-left: 1.5em; /* Adjust this margin as needed */
 }
